{% extends 'default.html.twig' %}

{% block title %} Mot de passe oublié| {% endblock %}

{% block main %}
    <div class="container-fluid h-100 ">
        <div class="container block">
            <div class="row border rounded text-center p-md-4">
                <div class="col-md-10 m-auto ">
                    <form method="post">
                        <h4>Saisissez votre email</h4>
                        {{ form_start(formRequest) }}
                        {{ form_widget(formRequest) }}

                        <button class="btn btn-lg btn-primary w-25" type="submit">Envoyer</button>

                        {{ form_end(formRequest) }}
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
