html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.block {
    position: relative;
    top: 25%;
    height: 50%;
}

.monProfil {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.info {
    padding-left: 30px;
    padding-right: 30px;
}

.btn a {
    text-decoration: none;
    color: #F5F5F5;
}

.btn a:visited {
    color: #F5F5F5;
}

.btn a:hover {
    text-decoration: none;
    color: #F5F5F5;
}

.navbar-nav {
    justify-content: space-between;
}

.info th {
    text-align:right;
    padding-right: 50px;
}

.info td {
    text-align:left;
}

.infoSortie th {
    text-align:right;

}

.infoSortie td {
    text-align:left;
    padding-right: 80px;
}

#listParticipants {
    width: 100%;
    min-width:800px;
}

#outingsList {
    height: 500px;
    overflow: auto;
}

.welcomeInfo {
    margin-right: 30px;
    margin-top: 20px;
    font-size: small;
}

.welcomeInfo p {
    margin-bottom: 0.5rem;
}



.fa-plus {
    color: mediumseagreen;
}



@media screen and (min-width: 375px ) and (max-width: 668px){
    body{
        overflow-y: hidden;
    }

    .mobile {
        display: none;
    }

    .hiddenMobile{
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .hiddenDesktop {
        display: none
    }

}

.list-group{
    list-style: none;
}

