html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.block{
    position: relative;
    top: 25%;
    height: 50%;
}

.btn a {
    text-decoration: none;
    color: #F5F5F5;
}
.btn a:visited{
    color: #F5F5F5;
}

.btn a:hover{
    text-decoration: none;
    color: #F5F5F5;
}

.navbar-nav
{
    justify-content: space-between;
}