.btn a {
    text-decoration: none;
    color: #F5F5F5;
}
.btn a:visited{
    color: #F5F5F5;
}

.btn a:hover{
    text-decoration: none;
    color: #F5F5F5;
}

.navbar-nav
{
    justify-content: space-between;
}