{% extends 'default.html.twig' %}

{% block title %} {{ parent() }} Modify Profile{% endblock %}

{% block main%}

    {{ form_start(modifyForm) }}
    {{ form_widget(modifyForm) }}
    <button type="submit">Modifier</button>
    {{ form_end(modifyForm) }}

    {#  <div id="modifyProfile" >
        <div id="pseudo">
            <label for="pseudo">Pseudo: </label>
            <input type="text" name="_username" id="pseudo"/>
        </div>
        <div id="prenom">
            <label for="prenom">Prénom: </label>
            <input type="text" name="firstName" id="prenom"/>
        </div>
        <div id="nom">
            <div id="nom">
                <label for="nom">Nom: </label>
                <input type="text" name="lastName" id="nom"/>
            </div>
        </div>
        <div id="telephone">
            <div id="telephone">
                <label for="telephone">Téléphone: </label>
                <input type="tel" name="phoneNumber" id="telephone"/>
            </div>
        </div>
        <div id="email">
            <div id="email">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email"/>
            </div>
        </div>
        <div id="currentPassword">
            <div id="currentPassword">
                <label for="currentPassword">Mot de passe actuel: </label>
                <input type="password" name="currentPassword" id="currentPassword"/>
            </div>
        </div>
        <div id="newPassword">
            <div id="newPassword">
                <label for="newPassword">Nouveau mot de passe: </label>
                <input type="password" name="newPassword" id="newPassword"/>
            </div>
        </div>
        <div id="confirmNewPassword">
            <div id="confirmNewPassword">
                <label for="confirmNewPassword">Confirmation: </label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword"/>
            </div>
        </div>
        <div id="campus">
            <div id="campus">
                <label for="campus">Campus: </label>
                <select id="campus" name="campus"></select>
            </div>
        </div>
    </div>#}
{% endblock %}



